.welcome{
    background-color: #B22222;
    color: #caa472;
}

.layout{
    display: inline;
    color: white;
}
#greetUser{
    padding-left: 80vw;
    font-size: 2em;
}

#wordvalidity{
    color: black;
    font-weight: 500;
}

#result{
    color: black;
}

#space{
    padding: 0.5em;
}

#container, .dropzone{
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(15, 2em);
    border: thin black solid;
}

#nwLtrs{
    padding-right: 3.5em;
}

.divContent{
    border: thin red solid;
    padding: 1em;
    height: 1em;
    width: 1em;
    background-color: skyblue;
}
.main{
    display: grid;
    justify-content: center;
    grid-area: 40em 40em;
    
}
  
body{
    width: 100vw;
    height: 100vh;
    /* background-color: seagreen; */
    background-color: mediumseagreen;
}

.space{
    padding: 1em;
}

.boardp{
    background-color: #CC9966;
    position: absolute;
    right: 1.5em;
    padding-right: 1em;
    position: relative;
    padding-bottom: 1em;
    padding-left: 0.2em;
    display: inline;
    border: black thin solid;
    font-size: 1em;
}

.cell {
    border: thin solid black;
    min-width: 2em;
    min-height: 2em;
    box-sizing: border-box;
    /* padding-top: 1em; */
    /* display: inline-block; */
    background-color: whitesmoke;
  }

div{
/* display: grid; */
grid-gap: 0em;
}

.boardp > #t0, #t7, #t14, #t105, #t119, #t210, #t217, #t224, #t3, #t11, #t36, #t38, #t45, 
#t52, #t59, #t92, #t96, #t98, #t102, #t108, #t116, #t122, #t126, #t128 ,#t132, #t165, 
#t172, #t179, #t186, #t188, #t16, #t28, #t32, #t42, #t48, #t56, #t64, #t70, #t154, #t160, 
#t168, #t176, #t182, #t192, #t196, #t208, #t20, #t24, #t76 ,#t80, #t84, #t88, #t136, 
#t140, #t144, #t148, #t200, #t204 {
    /* position: absolute;  */
    flex-direction: row;
    right: 1.3em;
    left: 0em;
    top: 0em;
    bottom: 0em;
    position: relative;
    box-sizing: border-box;
    padding-right: 2em;
    padding-bottom: 0.5em;
    display: inline;
}

section{
    background-color: gray;
    padding: 2em;
}

.boardp>div{
    position: absolute;
    /* left: 0.5em; */
    top: 0;
    left: 0;
    right: 0;
}

div>div{
    position: relative;
}

#scoreCount{
    border: blueviolet thin solid;
    border-radius: 1em;
    padding: 0.4em;
}

#resultScore{
    padding: 1em;
    
}

main>div{
    position: relative;
    text-align: center;
    font-size: 1.3em;
    left: 1em;
    box-sizing: border-box;
    margin: 0;
    display: inline-flexbox;
} 

main > .cell .boardp{
    position: absolute;
    top: 0rem;
    /* left: 1rem; */
}

footer{
    padding: 1em;
    text-align: center;
    background-color: black;
}

/*
down below are the div colours.
*/

#t0, #t7, #t14, #t105,#t119, #t210, #t217, #t224{
    background-color: red;
}

#t16, #t28, #t32, #t42, #t48, #t56, #t64, #t70, #t154, #t160, #t168, #t176, #t182, #t192, #t196, #t208{
    background-color: magenta;
}

#t20, #t24, #t76 ,#t80, #t84, #t88, #t136, #t140, #t144, #t148, #t200, #t204{
    background-color: rgb(60, 60, 248);
    color: white;
}

#t3, #t11, #t36, #t38, #t45, #t52, #t59, #t92, #t96, #t98, #t102, #t108, #t116, #t122, #t126, #t128 ,#t132, #t165, #t172, #t179, #t186, #t188{
    background-color: lightskyblue;
}

#t112{
     background-color: #ffca68;
}


/*
User profile
*/

#profile{
    border: black thin solid;
    background-color: grey;
    padding: 1em;
}

.userDetails{
    padding-right: 2em;
    border: blue 0.1em solid;
}


#t1, #t2, #t4, #t5, #t6, #t8, #t9, #t10, #t12, #t13, #t15, #t17, #t19, #t18, #t18, #t21, #t22, #t23, #t25, #t26, #t27, #t29, #t30, #t31, #t33, #t34, #t35, #t37, #t39, #t40, #t41, #t43, #t44, #t46, #t47, #t49, #t50, #t51, #t53, #t54, #t55, #t57, #t58, #t60, #t61, #t62, #t63, #t65, #t66, #t67, #t68, #t69, #t71, #t72, #t73, #t74, #t75, #t77, #t78, #t79, #t81, #t82, #t83, #t85, #t86, #t87, #t89, #t90, #t91, #t93, #t94, #t95, #t97, #t99, #t100, #t101, #t103, #t104, #t106, #t107, #t109, #t110, #t111, #t113, #t114, #t115, #t117, #t118, #t120, #t121, #t123, #t124, #t125, #t127, #t129, #t130, #t131, #t133, #t134, #t135, #t137, #t138, #t139, #t141, #t142, #t143, #t145, #t146, #t147, #t149, #t150, #t151, #t152, #t153, #t155, #t156, #t157, #t158, #t159, #t161, #t162, #t163, #t164, #t166, #t167, #t169, #t170, #t171, #t173, #t174, #t175, #t177, #t178, #t180, #t181, #t183, #t184, #t185, #t187, #t189, #t190, #t191, #t193, #t194, #t195, #t197, #t198, #t199, #t201, #t202, #t203, #t205, #t206, #t207, #t209, #t211, #t212, #t213, #t214, #t215, #t216, #t218, #t219, #t220, #t221, #t222, #t223{
    color: whitesmoke;
}